.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(8px); /* Desfoque no fundo */
    background-color: rgba(0, 0, 0, 0.6); /* Fundo semi-transparente */
    animation: fadeIn 0.4s ease-in-out;
}

/* Estilizando o conteúdo do modal */
.modal-content {
    background: linear-gradient(135deg, #ffffff, #f8f9fa); /* Gradiente suave */
    padding: 25px;
    border-radius: 12px;
    width: 90%;
    max-width: 500px;
    height: 75vh;
    margin: 8% auto;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
    text-align: left;
    position: relative;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    animation: slideUp 0.5s ease-in-out;
}

/* Barra de rolagem personalizada */
.modal-content::-webkit-scrollbar {
    width: 8px;
}

.modal-content::-webkit-scrollbar-track {
    background: #e0e0e0;
    border-radius: 10px;
}

.modal-content::-webkit-scrollbar-thumb {
    background: #007bff;
    border-radius: 10px;
}

.modal-content::-webkit-scrollbar-thumb:hover {
    background: #0056b3;
}

.close {
    position: fixed;
    top: 40px;
    right: 15px;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    color: white;
    background-color: red;
    border: none;
    padding: 6px 12px;
    border-radius: 50%;
    transition: transform 0.2s ease, background 0.3s ease;
}

.close:hover {
    background-color: darkred;
    transform: scale(1.1);
}

#closeTutorialBtn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px 16px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 15px;
    text-align: center;
    transition: background 0.3s ease-in-out;
}

#closeTutorialBtn:hover {
    background-color: #0056b3;
}

#openTutorialBtn {
    position: fixed;
    bottom: 90%;
    right: 10px;
    background: linear-gradient(135deg, #007bff, #0056b3);
    color: white;
    border: none;
    padding: 14px 20px;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    z-index: 1000;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease-in-out, box-shadow 0.3s ease;
}

#openTutorialBtn:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.4);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.modal-content h2 {
    color: green;
    font-size: 22px;
    margin-bottom: 15px;
}

.modal-content h3 {
    color: #333;
    font-size: 18px;
    margin-top: 10px;
}

.modal-content p {
    font-size: 16px;
    font-weight: 500;
    color: #444;
}

@media (max-width: 600px) {
    .modal-content {
        width: 95%;
        height: 70vh;
        padding: 20px;
    }

    #openTutorialBtn {
        padding: 12px 16px;
        font-size: 14px;
    }
}

strong {
color: blue;

}

p { 
font-weight: bold;

}

#ativo {
    color: green;
    font-weight: bold;
}

#vencido {
    color: red;
    font-weight: bold;
}

#testForm {
    width: 80%;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
}

#testForm label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

#testForm input[type="text"],
#testForm input[type="password"],
#testForm textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
    background-color: #fff;
    transition: border-color 0.3s;
}

#testForm input[type="text"]:focus,
#testForm input[type="password"]:focus,
#testForm textarea:focus {
    border-color: #007BFF;
    outline: none;
}

#testForm textarea {
    height: 80px;
    resize: vertical;
}

#testForm button {
    font-weight: bold;
    width: 100%;
    padding: 12px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#testForm button:hover {
    background-color: #00ba1f;
}

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f1f8e9;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    transition: background-color 0.3s ease-in-out;
}

header {
    width: 100%;
    height: 100px;
    background-color: #007BFF;
    color: #ffffff;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #0056b3;
    position: absolute;
    z-index: 10;
}

.img-quadrada {
    width: 100%;
    max-width: 300px;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

.img-painel {
    width: 70px;
    max-width: 150px;
    height: 70px;
    object-fit: cover;
    border-radius: 8px;
    margin-left: 37%;  
}

#logo { 
    max-width: 200px;
    height: 180px;
}

#background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    pointer-events: none;
}

a {
    background: linear-gradient(45deg, #43A047, #66BB6A);
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px 15px;
    text-decoration: none;
    transition: all 0.3s ease;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}

a:hover {
    background: linear-gradient(45deg, #388E3C, #43A047);
    color: #c8e6c9;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

#chat-container {
    width: 100%;
    max-width: 450px;
    border-radius: 15px;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Mantém os botões e a caixa de input no final */
    height: 100%; /* Ocupa toda a altura disponível */
    max-height: 100vh; /* Evita que o chat cresça além da tela */
    padding-top: 100px; /* Evita que o conteúdo fique muito baixo */
    position: relative;
    z-index: 3;
}

#output {
    font-weight: bold;
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    position: relative;
    max-height: calc(100vh - 150px);
}

#userInputContainer {
    display: flex;
    padding: 15px;
    position: sticky;
    bottom: 0;
    z-index: 2;
    margin-top: 100px;
}

#userInput {
  width: 100%;
  height: 50px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none; /* Remove a opção de redimensionamento */
  overflow-y: hidden; /* Esconde a barra de rolagem vertical */
  box-sizing: border-box;
}

#userInput:focus {
  outline: none;
  border-color: #66afe9;
  box-shadow: 0 0 5px rgba(102, 175, 233, 0.6);
}

#sendBtn {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 12px 18px;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 7px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

#sendBtn:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

#clearBtn {
    background: #E53F51;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 12px 18px;
    margin-left: 7px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

#clearBtn:hover {
    background: #c62828;
    transform: scale(1.05);
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.message {
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 15px;
    line-height: 1.6;
    transition: background-color 0.3s ease-in-out;
    animation: slideIn 0.5s ease-out;
}

.user-message {
    background: #007BFF;
    color: white;
    align-self: flex-end;
    border-top-right-radius: 0;
}

.bot-message {
    background: #eceff1;
    color: #333;
    align-self: flex-start;
    border-top-left-radius: 0;
}

.hidden-message {
    display: none;
}

/* Estilos responsivos */
@media (max-width: 500px) {
    #chat-container {
        width: 100%;
        max-width: 100%;
        border-radius: 0;
        box-shadow: none;
    }

    #userInput {
        padding: 10px;
    }

    #sendBtn, #clearBtn {
        padding: 10px;
    }

    .message {
        padding: 12px;
    }

    header {
        font-size: 18px;
        height: 80px;
 }
}

#installBtn {
  background: linear-gradient(135deg, #28a745, #218838);
  color: red;
  border: none;
  padding: 14px 22px;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background 0.3s ease, transform 0.2s ease-in-out;
  appearance: none; /* remove estilo nativo */
  -webkit-appearance: none;
  -moz-appearance: none;
}

#installBtn:hover {
  background: linear-gradient(135deg, #1e7e34, #155724);
  transform: scale(1.05);
}
